<html>
<head>
	<link rel="stylesheet" type="text/css" href="template/styly.css">
</head>

<body>
	<header>
		<div class="container">
			<div class="company-address">
				<h2 class="title">Mergado technologies, s. r. o.</h2>
				<p>
					Pavlovská 12, 623 00, Brno<br>
					IČ: 03570061, DIČ: CZ03570061
				</p>
			</div>
			<div class="invoice_number">FAKTURA {invoice_number}</div>
		</div>
	</header>

	<section>
		<div class="container">
			<div class="details">
				<div class="client left">
					<p>Příjemce:</p>
					<p class="name">JMÉNO</p>
					<p>
						Adresa1<br>
						Adresa2
					</p>
				</div>
				<div class="data right">
					<div class="date">
						<p>
							Datum vystavení: {invoice_date}<br>
							Datum splatnosti: {due_date}
						</p>
						<p>
							Bankovní spojení: {account}<br>
							Variabilní symbol: {symbol}
						</p>
					</div>
				</div>
			</div>

			<table border="0" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th class="desc">Produkt</th>
						<th class="qty">Množství</th>
						<th class="unit">Jednotková cena</th>
						<th class="total">Celková cena</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="desc">{product}</td>
						<td class="qty">{quantity}</td>
						<td class="unit">{price_per_unit} Kč</td>
						<td class="total">{product_price} Kč</td>
					</tr>
				</tbody>
			</table>
			<div class="no-break">
				<table class="grand-total">
					<tbody>
						<tr>
							<td class="desc"></td>
							<td class="unit" colspan="2">CELKEM:</td>
							<td class="total">{product_price} Kč</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="qrcode">
				<h2>Možnost zaplacení pomocí QR kódu:</h2>
				<p><img src={QRCode}></p>
			</div>
		</div>
	</section>

</body>

</html>
